{% extends('index.html.twig') %}

{% block body %}
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-euro.js"></script>

    <script>
        function format ( d ) {
            // `d` is the original data object for the row
            return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                '<td>'+d.date+'</td>'+
                '</tr>'+
                '</table>';
        }

        $(document).ready(function() {
            let table = $('#example').DataTable({
                'processing': true,
                'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json',
                },
                'columnDefs': [
                    {
                        'type': 'date-euro',
                        'targets': 1,

                    },
                ],
                "columns": [
                    {
                        "className":      'details-control',
                        "orderable":      false,
                    },
                    { "data": "name" },
                    { "data": "position" },
                    { "data": "office" },
                    { "data": "salary" },
                    { "data": "salary2" },
                    { "data": "date", "visible": false },
                ],
                "order": [[ 1, "desc" ]],
                "lengthMenu": [[10, 100, 500, 1000, -1], [10, 100, 500, 1000, "Все"]],
                "pageLength": 100,
                "initComplete": function(settings, json) {
                    $('#log-body').slideDown();
                }
            });

            // table.rows().every(function(){
            //     // If row has details collapsed
            //     if(!this.child.isShown()){
            //         // Open this row
            //         this.child(format(this.data())).show();
            //         $(this.node()).addClass('shown');
            //     }
            // });

            $('#example tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    $(this).html('<i class="fa fa-plus"></i>');
                    row.child.hide();
                }
                else {
                    // $(this).text('Свернуть');
                    $(this).html('<i class="fa fa-minus"></i>');
                    row.child( format(row.data()) ).show();
                }
            } );
        });
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

        td {
            word-break: break-word;
            font-size: 11px;
            font-family: 'Source Code Pro', monospace;
        }

        table#example {
            width: 100%;
            font-size: 14px;
            font-family: 'Source Code Pro', monospace;
        }

        .head.head-text {
            min-width: 170px;
        }

        .head.head-data {
            min-width: 170px;
        }

        #log-body {
            display: none;
        }

        td.details-control {
            cursor: pointer;
            text-align: center;
        }
        tr.shown td.details-control {
        }
    </style>

    <table id="example" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th class="head head-date">Дата</th>
                <th class="head head-user">Пользователь</th>
                <th class="head head-type">Тип</th>
                <th class="head head-channel">Канал</th>
                <th class="head head-text">Текст</th>
                <th class="head head-data">Данные</th>
            </tr>
        </thead>
        <tbody id="log-body">

        {% for file in content %}
            {% for data in file %}
                <tr>
                    <td>
                        <i class="fa fa-plus"></i>
                    </td>
                    <td>
                        {{ data.datetime.date|date('d/m/Y H:i:s') }}
                    </td>
                    <td>
                        {% if data.message.result.chat is defined %}
                            {% if data.message.result.chat.first_name is defined %}
                                {{ data.message.result.chat.first_name }}
                            {% endif %}

                            {% if data.message.result.chat.last_name is defined %}
                                {{ data.message.result.chat.last_name }}
                            {% endif %}

                            {% if data.message.result.chat.username is defined %}
                                ({{ data.message.result.chat.username }})
                            {% endif %}
                        {% elseif data.message.callback_query.from is defined %}
                            {% if data.message.callback_query.from.first_name is defined %}
                                {{ data.message.callback_query.from.first_name }}
                            {% endif %}
                            {% if data.message.callback_query.from.last_name is defined %}
                                {{ data.message.callback_query.from.last_name }}
                            {% endif %}
                            {% if data.message.callback_query.from.username is defined %}
                                ({{ data.message.callback_query.from.username }})
                            {% endif %}
                        {% elseif data.message.message.from is defined %}
                            {% if data.message.message.from.first_name is defined %}
                                {{ data.message.message.from.first_name }}
                            {% endif %}
                            {% if data.message.message.from.last_name is defined %}
                                {{ data.message.message.from.last_name }}
                            {% endif %}
                            {% if data.message.message.from.username is defined %}
                                ({{ data.message.message.from.username }})
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if data.message.callback_query is defined %}
                            callback
                        {% else %}
                            message
                        {% endif %}
                    </td>
                    <td>
                        {% if data.channel == 'telegram_request_in' %}
                            in
                        {% elseif data.channel == 'telegram_request_out' %}
                            out
                        {% endif %}
                    </td>
                    <td>
                        {% if data.message.result.text is defined %}
                            {{ data.message.result.text }}
                        {% elseif data.message.message.text is defined %}
                            {{ data.message.message.text }}
                        {% elseif data.message.callback_query.message.text is defined %}
                            {{ data.message.callback_query.message.text }}
                        {% endif %}
                    </td>
                    <td>
                        {{ data.message|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th class="head head-date">Дата</th>
            <th class="head head-user">Пользователь</th>
            <th class="head head-type">Тип</th>
            <th class="head head-channel">Канал</th>
            <th class="head head-text">Текст</th>
            <th class="head head-data">Данные</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}
