{% extends('index.html.twig') %}

{% block body %}
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-de.js"></script>

    <script>
        $(document).ready(function() {
            $('#example').dataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json"
                },
                columnDefs: [
                    {
                        type: 'de_datetime',
                        targets: 0,

                    },
                ],
                "order": [[ 0, "desc" ]],
                "lengthMenu": [[100, 500, 1000, -1], [100, 500, 1000, "Все"]],
                "pageLength": 500
            });
        });
    </script>

    <style>
        td {
            word-break: break-word;
        }

        table#example {
            width: 100%;
        }
    </style>

    <table id="example" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="head head-date">Дата</th>
            <th class="head head-user">Пользователь</th>
            <th class="head head-channel">Канал</th>
            <th class="head head-type">Тип сообщения</th>
            <th class="head head-text">Текст</th>
            <th class="head head-data">Данные</th>
        </tr>
        </thead>
        <tbody>

        {% for file in content %}
            {% for data in file %}
                <tr>
                    <td>
                        {{ data.datetime.date|date('d.m.Y H:i') }}
                    </td>
                    <td>
                        {% if data.message.result.chat is defined %}
                            {% if data.message.result.chat.first_name is defined %}
                                {{ data.message.result.chat.first_name }}
                            {% endif %}

                            {% if data.message.result.chat.last_name is defined %}
                                {{ data.message.result.chat.last_name }}
                            {% endif %}

                            {% if data.message.result.chat.username is defined %}
                                ({{ data.message.result.chat.username }})
                            {% endif %}
                        {% elseif data.message.callback_query.from is defined %}
                            {% if data.message.callback_query.from.first_name is defined %}
                                {{ data.message.callback_query.from.first_name }}
                            {% endif %}
                            {% if data.message.callback_query.from.last_name is defined %}
                                {{ data.message.callback_query.from.last_name }}
                            {% endif %}
                            {% if data.message.callback_query.from.username is defined %}
                                ({{ data.message.callback_query.from.username }})
                            {% endif %}
                        {% elseif data.message.message.from is defined %}
                            {% if data.message.message.from.first_name is defined %}
                                {{ data.message.message.from.first_name }}
                            {% endif %}
                            {% if data.message.message.from.last_name is defined %}
                                {{ data.message.message.from.last_name }}
                            {% endif %}
                            {% if data.message.message.from.username is defined %}
                                ({{ data.message.message.from.username }})
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if data.message.callback_query is defined %}
                            callback
                        {% else %}
                            message
                        {% endif %}
                    </td>
                    <td>
                        {{ data.channel }}
                    </td>
                    <td>
                        {% if data.message.result.text is defined %}
                            {{ data.message.result.text }}
                        {% elseif data.message.message.text is defined %}
                            {{ data.message.message.text }}
                        {% elseif data.message.callback_query.message.text is defined %}
                            {{ data.message.callback_query.message.text }}
                        {% endif %}
                    </td>
                    <td>
                        {{ data.message|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}
