{% trans_default_domain 'users' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.username'|trans }} {{ user.username }}</p>
    <p>{{ 'profile.email'|trans }} {{ user.email }}</p>
    <p>{{ 'profile.api_key'|trans }} <input type="text" class="api-key" onclick="select()" value="{{ user.apiKey }}"></p>
</div>
