{% extends "index.html.twig" %}
{% trans_default_domain 'books' %}

{% block title %}
    {{ 'add.title'|trans }} | {{ 'details.title'|trans }} | {{ parent() }}
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h1>{{ 'add.title'|trans }}</h1>
        {{ form_start(form) }}
            <table>
                <tr>
                    <td>{{ form_label(form.name) }}</td>
                    <td>{{ form_widget(form.name) }}</td>
                    <td>{{ form_errors(form.name) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.author) }}</td>
                    <td>{{ form_widget(form.author) }}</td>
                    <td>{{ form_errors(form.author) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.cover) }}</td>
                    <td>{{ form_widget(form.cover) }}</td>
                    <td>{{ form_errors(form.cover) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.file) }}</td>
                    <td>{{ form_widget(form.file) }}</td>
                    <td>{{ form_errors(form.file) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.reading_date) }}</td>
                    <td>{{ form_widget(form.reading_date) }}</td>
                    <td>{{ form_errors(form.reading_date) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.allow_download) }}</td>
                    <td>{{ form_widget(form.allow_download) }}</td>
                    <td>{{ form_errors(form.allow_download) }}</td>
                </tr>
                <tr class="text-center">
                    <td colspan="2">{{ form_widget(form.submit, { 'label': 'books_type.add' }) }}</td>
                </tr>
            </table>

        {% if status is defined and status > 0 %}
            <div class="status_success">
                {{ 'add.status_success'|trans({'%id%': status})}}
            </div>
        {% endif %}

        {{ form_end(form) }}
    {% endif %}
{% endblock %}