{% extends "index.html.twig" %}
{% trans_default_domain 'books' %}

{% block title %}
    {{ 'list.title'|trans }} | {{ parent() }}
{% endblock %}

{% block body %}

    <hr>
    [{{ 'list.is_auth.refresh' | trans({'%link_start%' : '<a href="/" onclick="refreshList(\''~ path('books_list') ~'?refresh\'); return false;">', '%link_end%' : '</a>'}) | raw }}]
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        [{{ 'list.is_auth.clear' | trans({'%link_start%' : '<a href="/" onclick="removeAllBooks(\''~ path('books_remove_all') ~'\'); return false;" id="remove_all_books">', '%link_end%' : '</a>'}) | raw }}]
        [{{ 'list.is_auth.cache_clear' | trans({'%link_start%' : '<a href="/" onclick="clearCache(\''~ path('books_list_cache_clear') ~'\'); return false;">', '%link_end%' : '</a>'}) | raw }}]
    {% endif %}
    <hr>
    <div id="books_list">
        {% if books is empty %}
            {{ 'list.empty'|trans }}
        {% else %}
                {% for book in books %}
                    <div id="book_item">
                        <a href="{{ path('books_list') }}/{{ book.Id }}">{{ book.Name }} </a> <br>

                        {{ 'author'|trans }} {{ book.Author }} <br>

                        {% if book.Cover %}
                            {{ book.Cover|coverImage|raw }} <br>
                        {% endif %}

                        {% if book.AllowDownload and book.File %}
                            <a href="{{ book.File }}">{{ 'download_book'|trans }}</a><br>
                        {% elseif book.AllowDownload == 0 and book.File %}
                            <div class="allow_download_info">{{ 'list.allow_download_info'|trans }}</div>
                        {% endif %}

                        {% if book.ReadingDate %}
                            {{ 'reading_date'|trans }} {{ book.ReadingDate|dateFormat }} <br>
                        {% endif %}

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            [{{ 'edit_book' |trans({'%link_start%' : '<a href="'~ path('books_edit_id', {'id': book.Id}) ~'" target="_blank">', '%link_end%' : '</a>'}) | raw }}]
                            [{{ 'remove_book' |trans({'%link_start%' : '<a href="/" onclick="removeBook(\''~ path('books_remove_id', {'id': book.Id})~'\', \''~ book.Name ~'\', \''~ book.Author ~'\', \'list\'); return false;">', '%link_end%' : '</a>'}) | raw }}]
                            <br>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}

        {% endif %}
    </div>
{% endblock %}