{% trans_default_domain 'menu' %}

<div class="top-menu">
    <div class="top-menu-left">
        <a href="{{ path('index') }}">{{ 'top_menu.items.index'|trans }}</a>
        <a href="{{ path('index') }}?getWebhookInfo">getWebhookInfo</a>
        <a href="{{ path('index') }}?getUpdates">getUpdates</a>
        <a href="{{ path('index') }}?Update">Update</a>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% endif %}
    </div>
    <div class="top-menu-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
           <a href="{{ path('fos_user_profile_show') }}">{{ 'top_menu.is_auth.profile'|trans }} {{ app.user.username }}</a>
            / <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>

        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'top_menu.is_not_auth.auth'|trans }}</a> /
            <a href="{{ path('fos_user_registration_register') }}">{{ 'top_menu.is_not_auth.register'|trans }}</a>
        {% endif %}
    </div>
    <div class="clear-both"></div>
</div>