<html>
<div class="email-container" style="
/*email-container*/
margin: 0 auto;
height: auto;
display: block;
overflow: visible;
max-width: 600px;
">
    <table border="0" cellspacing="0" cellpadding="0" align="center" style="
    background: url({{ absolute_url(asset('build/images/logo_bg.png')) }}) no-repeat left top;
    overflow: visible;
    border: 1px solid #b8b8b8;
    ">
        <tbody>
            <tr>
                <td>
                    <table align="center" style="
                    overflow: visible;
                    ">
                        <tbody>
                            <tr>
                                <td>
                                    <table class="email-table-body" style="
                                    /*email-table-body*/
                                    border-spacing: 15px;
                                    ">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div style="
                                                    display: block;
                                                    ">
                                                        <img src="{{ absolute_url(asset('build/images/logo_head.png')) }}" alt="intaro.ru" style="
                                                        /*intaro-logo*/
                                                        width: 100%;
                                                        max-width: 550px;
                                                        /*float: left;*/
                                                        ">
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="
                                                    /*email-title*/
                                                    /*color: #000000;*/
                                                    color: #464646;
                                                    line-height: 0;
                                                    border-color: transparent;
                                                    margin: 0;
                                                    padding: 8px;
                                                    font-size: 18px;
                                                    font-weight: bold;
                                                    ">
                                                        {% set state = state|trim %}
                                                        Событие
                                                        {% if state == 'Событие создано' %}
                                                            <span style="color:#22902c">создано</span>
                                                        {% elseif state == 'Событие изменено' %}
                                                            <span style="color:#efa74c">изменено</span>
                                                        {% elseif state == 'Событие удалено' %}
                                                            <span style="color:#bd0c12">удалено</span>
                                                        {% elseif state == 'Событие скоро начнется' %}
                                                            <span style="color:#007fe0">скоро начнется</span>
                                                        {% endif %}
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="
                                                    /*email-text-body*/
                                                    border: 1px solid #949494ad;
                                                    background: #ffffffbd center center;
                                                    line-height: 1.4;
                                                    font-size: 16px;
                                                    word-break: break-word;
                                                    color: #464646;
                                                    margin: 0;
                                                    padding: 0;
                                                    ">
                                                        <p style="
                                                        margin-bottom: auto;
                                                        margin-top: auto;
                                                        padding: 8px;">
                                                            {{ text|raw }}
                                                        </p>

                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div style="
                                                    margin: 0;
                                                    padding: 0;
                                                    ">
                                                        <p style="
                                                        color: #464646;
                                                        font-size: 11px;
                                                        margin-bottom: auto;
                                                        margin-top: auto;
                                                        padding: 8px;
                                                        border: 1px solid #b8b8b8;
                                                        border-left: none;
                                                        border-right: none;
                                                        ">
                                                            {{ subscription_text_html|raw }}
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="center" style="
                                                    display: grid;
                                                    padding-top: 2px;
                                                    ">
                                                        <img src="{{ absolute_url(asset('build/images/logo_footer.png')) }}" alt="intaro.ru" style="
                                                        /*intaro-logo*/
                                                        width: 100%;
                                                        max-width: 550px;
                                                        /*float: left;*/
                                                        ">
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</html>